@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


.toolbarbutton-1.rewind-button,
.toolbarbutton-1.fastforward-button,
#back-button[rewindforward-override],
#forward-button[rewindforward-override] {
	list-style-image: url("chrome://rewindforward/skin/buttons2.png") !important;
}

[iconsize="small"] .toolbarbutton-1.rewind-button,
[iconsize="small"] .toolbarbutton-1.fastforward-button,
[iconsize="small"] #back-button[rewindforward-override],
[iconsize="small"] #forward-button[rewindforward-override] {
	list-style-image: url("chrome://rewindforward/skin/buttons-small2.png") !important;
}

[rewindforward-anothericon="true"] .toolbarbutton-1.rewind-button,
[rewindforward-anothericon="true"] .toolbarbutton-1.fastforward-button,
[rewindforward-anothericon="true"] #back-button[rewindforward-override],
[rewindforward-anothericon="true"] #forward-button[rewindforward-override] {
	list-style-image: url("chrome://rewindforward/skin/buttons.png") !important;
}

[rewindforward-anothericon="true"] [iconsize="small"] .toolbarbutton-1.rewind-button,
[rewindforward-anothericon="true"] [iconsize="small"] .toolbarbutton-1.fastforward-button,
[rewindforward-anothericon="true"] [iconsize="small"] #back-button[rewindforward-override],
[rewindforward-anothericon="true"] [iconsize="small"] #forward-button[rewindforward-override] {
	list-style-image: url("chrome://rewindforward/skin/buttons-small.png") !important;
}


.toolbarbutton-1.rewind-button,
.toolbarbutton-1.fastforward-button {
	padding-left: 1px;
	padding-right: 1px;
}



/* keyhole */

[mode="icons"] #back-button[rewindforward-override="navigation"] {
	-moz-image-region: rect(0px 132px 34px 96px) !important;
}
[mode="icons"] #back-button[rewindforward-override="navigation"][buttonover="true"],
[mode="icons"] #back-button[rewindforward-override="navigation"]:hover {
	-moz-image-region: rect(34px 132px 68px 96px) !important;
}
[mode="icons"] #back-button[rewindforward-override="navigation"]:not([disabled="true"])[buttonover="true"]:active,
[mode="icons"] #back-button[rewindforward-override="navigation"]:not([disabled="true"]):hover:active {
	-moz-image-region: rect(102px 132px 136px 96px) !important;
}
[mode="icons"] #back-button[rewindforward-override="link"] {
	-moz-image-region: rect(0px 288px 34px 252px) !important;
}
[mode="icons"] #back-button[rewindforward-override="link"][buttonover="true"],
[mode="icons"] #back-button[rewindforward-override="link"]:hover {
	-moz-image-region: rect(34px 288px 68px 252px) !important;
}
[mode="icons"] #back-button[rewindforward-override="link"]:not([disabled="true"])[buttonover="true"]:active,
[mode="icons"] #back-button[rewindforward-override="link"]:not([disabled="true"]):hover:active {
	-moz-image-region: rect(102px 288px 136px 252px) !important;
}

[mode="icons"][iconsize="small"] #back-button[rewindforward-override="navigation"] {
	-moz-image-region: rect(0px 88px 24px 64px) !important;
}
[mode="icons"][iconsize="small"] #back-button[rewindforward-override="navigation"][buttonover="true"],
[mode="icons"][iconsize="small"] #back-button[rewindforward-override="navigation"]:hover {
	-moz-image-region: rect(24px 88px 48px 64px) !important;
}
[mode="icons"][iconsize="small"] #back-button[rewindforward-override="navigation"]:not([disabled="true"])[buttonover="true"]:active,
[mode="icons"][iconsize="small"] #back-button[rewindforward-override="navigation"]:not([disabled="true"]):hover:active {
	-moz-image-region: rect(72px 88px 96px 64px) !important;
}
[mode="icons"][iconsize="small"] #back-button[rewindforward-override="link"] {
	-moz-image-region: rect(0px 210px 24px 186px) !important;
}
[mode="icons"][iconsize="small"] #back-button[rewindforward-override="link"][buttonover="true"],
[mode="icons"][iconsize="small"] #back-button[rewindforward-override="link"]:hover {
	-moz-image-region: rect(24px 210px 48px 186px) !important;
}
[mode="icons"][iconsize="small"] #back-button[rewindforward-override="link"]:not([disabled="true"])[buttonover="true"]:active,
[mode="icons"][iconsize="small"] #back-button[rewindforward-override="link"]:not([disabled="true"]):hover:active {
	-moz-image-region: rect(72px 210px 96px 186px) !important;
}

[mode="icons"] #forward-button[rewindforward-override="navigation"] {
	-moz-image-region: rect(3px 158px 31px 132px) !important;
}
[mode="icons"] #forward-button[rewindforward-override="navigation"][buttonover="true"],
[mode="icons"] #forward-button[rewindforward-override="navigation"]:hover {
	-moz-image-region: rect(37px 158px 65px 132px) !important;
}
[mode="icons"] #forward-button[rewindforward-override="navigation"]:not([disabled="true"])[buttonover="true"]:active,
[mode="icons"] #forward-button[rewindforward-override="navigation"]:not([disabled="true"]):hover:active {
	-moz-image-region: rect(105px 158px 133px 132px) !important;
}
[mode="icons"] #forward-button[rewindforward-override="link"] {
	-moz-image-region: rect(3px 314px 31px 288px) !important;
}
[mode="icons"] #forward-button[rewindforward-override="link"][buttonover="true"],
[mode="icons"] #forward-button[rewindforward-override="link"]:hover {
	-moz-image-region: rect(37px 314px 65px 288px) !important;
}
[mode="icons"] #forward-button[rewindforward-override="link"]:not([disabled="true"])[buttonover="true"]:active,
[mode="icons"] #forward-button[rewindforward-override="link"]:not([disabled="true"]):hover:active {
	-moz-image-region: rect(105px 314px 133px 288px) !important;
}

[mode="icons"][iconsize="small"] #forward-button[rewindforward-override="navigation"] {
	-moz-image-region: rect(0px 112px 24px 88px) !important;
}
[mode="icons"][iconsize="small"] #forward-button[rewindforward-override="navigation"][buttonover="true"],
[mode="icons"][iconsize="small"] #forward-button[rewindforward-override="navigation"]:hover {
	-moz-image-region: rect(24px 112px 48px 88px) !important;
}
[mode="icons"][iconsize="small"] #forward-button[rewindforward-override="navigation"]:not([disabled="true"])[buttonover="true"]:active,
[mode="icons"][iconsize="small"] #forward-button[rewindforward-override="navigation"]:not([disabled="true"]):hover:active {
	-moz-image-region: rect(72px 112px 96px 88px) !important;
}
[mode="icons"][iconsize="small"] #forward-button[rewindforward-override="link"] {
	-moz-image-region: rect(0px 234px 24px 210px) !important;
}
[mode="icons"][iconsize="small"] #forward-button[rewindforward-override="link"][buttonover="true"],
[mode="icons"][iconsize="small"] #forward-button[rewindforward-override="link"]:hover {
	-moz-image-region: rect(24px 234px 48px 210px) !important;
}
[mode="icons"][iconsize="small"] #forward-button[rewindforward-override="link"]:not([disabled="true"])[buttonover="true"]:active,
[mode="icons"][iconsize="small"] #forward-button[rewindforward-override="link"]:not([disabled="true"]):hover:active {
	-moz-image-region: rect(72px 234px 96px 210px) !important;
}


/* keyhole, RTL */

[mode="icons"] #back-button[chromedir="rtl"][rewindforward-override="navigation"] {
	-moz-image-region: rect(0px 252px 34px 216px) !important;
}
[mode="icons"] #back-button[chromedir="rtl"][rewindforward-override="navigation"][buttonover="true"],
[mode="icons"] #back-button[chromedir="rtl"][rewindforward-override="navigation"]:hover {
	-moz-image-region: rect(34px 252px 68px 216px) !important;
}
[mode="icons"] #back-button[chromedir="rtl"][rewindforward-override="navigation"]:not([disabled="true"])[buttonover="true"]:active,
[mode="icons"] #back-button[chromedir="rtl"][rewindforward-override="navigation"]:not([disabled="true"]):hover:active {
	-moz-image-region: rect(102px 252px 136px 216px) !important;
}
[mode="icons"] #back-button[chromedir="rtl"][rewindforward-override="link"] {
	-moz-image-region: rect(0px 408px 34px 372px) !important;
}
[mode="icons"] #back-button[chromedir="rtl"][rewindforward-override="link"][buttonover="true"],
[mode="icons"] #back-button[chromedir="rtl"][rewindforward-override="link"]:hover {
	-moz-image-region: rect(34px 408px 68px 372px) !important;
}
[mode="icons"] #back-button[chromedir="rtl"][rewindforward-override="link"]:not([disabled="true"])[buttonover="true"]:active,
[mode="icons"] #back-button[chromedir="rtl"][rewindforward-override="link"]:not([disabled="true"]):hover:active {
	-moz-image-region: rect(102px 408px 136px 372px) !important;
}

[mode="icons"][iconsize="small"] #back-button[chromedir="rtl"][rewindforward-override="navigation"] {
	-moz-image-region: rect(0px 186px 24px 162px) !important;
}
[mode="icons"][iconsize="small"] #back-button[chromedir="rtl"][rewindforward-override="navigation"][buttonover="true"],
[mode="icons"][iconsize="small"] #back-button[chromedir="rtl"][rewindforward-override="navigation"]:hover {
	-moz-image-region: rect(24px 186px 48px 162px) !important;
}
[mode="icons"][iconsize="small"] #back-button[chromedir="rtl"][rewindforward-override="navigation"]:not([disabled="true"])[buttonover="true"]:active,
[mode="icons"][iconsize="small"] #back-button[chromedir="rtl"][rewindforward-override="navigation"]:not([disabled="true"]):hover:active {
	-moz-image-region: rect(72px 186px 96px 162px) !important;
}
[mode="icons"][iconsize="small"] #back-button[chromedir="rtl"][rewindforward-override="link"] {
	-moz-image-region: rect(0px 308px 24px 284px) !important;
}
[mode="icons"][iconsize="small"] #back-button[chromedir="rtl"][rewindforward-override="link"][buttonover="true"],
[mode="icons"][iconsize="small"] #back-button[chromedir="rtl"][rewindforward-override="link"]:hover {
	-moz-image-region: rect(24px 308px 48px 284px) !important;
}
[mode="icons"][iconsize="small"] #back-button[chromedir="rtl"][rewindforward-override="link"]:not([disabled="true"])[buttonover="true"]:active,
[mode="icons"][iconsize="small"] #back-button[chromedir="rtl"][rewindforward-override="link"]:not([disabled="true"]):hover:active {
	-moz-image-region: rect(72px 308px 96px 284px) !important;
}


[mode="icons"] #forward-button[chromedir="rtl"][rewindforward-override="navigation"] {
	-moz-image-region: rect(3px 216px 31px 190px) !important;
}
[mode="icons"] #forward-button[chromedir="rtl"][rewindforward-override="navigation"][buttonover="true"],
[mode="icons"] #forward-button[chromedir="rtl"][rewindforward-override="navigation"]:hover {
	-moz-image-region: rect(37px 216px 65px 190px) !important;
}
[mode="icons"] #forward-button[chromedir="rtl"][rewindforward-override="navigation"]:not([disabled="true"])[buttonover="true"]:active,
[mode="icons"] #forward-button[chromedir="rtl"][rewindforward-override="navigation"]:not([disabled="true"]):hover:active {
	-moz-image-region: rect(105px 216px 133px 190px) !important;
}
[mode="icons"] #forward-button[chromedir="rtl"][rewindforward-override="link"] {
	-moz-image-region: rect(3px 372px 31px 346px) !important;
}
[mode="icons"] #forward-button[chromedir="rtl"][rewindforward-override="link"][buttonover="true"],
[mode="icons"] #forward-button[chromedir="rtl"][rewindforward-override="link"]:hover {
	-moz-image-region: rect(37px 372px 65px 346px) !important;
}
[mode="icons"] #forward-button[chromedir="rtl"][rewindforward-override="link"]:not([disabled="true"])[buttonover="true"]:active,
[mode="icons"] #forward-button[chromedir="rtl"][rewindforward-override="link"]:not([disabled="true"]):hover:active {
	-moz-image-region: rect(105px 372px 133px 346px) !important;
}

[mode="icons"][iconsize="small"] #forward-button[chromedir="rtl"][rewindforward-override="navigation"] {
	-moz-image-region: rect(0px 162px 24px 138px) !important;
}
[mode="icons"][iconsize="small"] #forward-button[chromedir="rtl"][rewindforward-override="navigation"][buttonover="true"],
[mode="icons"][iconsize="small"] #forward-button[chromedir="rtl"][rewindforward-override="navigation"]:hover {
	-moz-image-region: rect(24px 162px 48px 138px) !important;
}
[mode="icons"][iconsize="small"] #forward-button[chromedir="rtl"][rewindforward-override="navigation"]:not([disabled="true"])[buttonover="true"]:active,
[mode="icons"][iconsize="small"] #forward-button[chromedir="rtl"][rewindforward-override="navigation"]:not([disabled="true"]):hover:active {
	-moz-image-region: rect(72px 162px 96px 138px) !important;
}
[mode="icons"][iconsize="small"] #forward-button[chromedir="rtl"][rewindforward-override="link"] {
	-moz-image-region: rect(0px 284px 24px 260px) !important;
}
[mode="icons"][iconsize="small"] #forward-button[chromedir="rtl"][rewindforward-override="link"][buttonover="true"],
[mode="icons"][iconsize="small"] #forward-button[chromedir="rtl"][rewindforward-override="link"]:hover {
	-moz-image-region: rect(24px 284px 48px 260px) !important;
}
[mode="icons"][iconsize="small"] #forward-button[chromedir="rtl"][rewindforward-override="link"]:not([disabled="true"])[buttonover="true"]:active,
[mode="icons"][iconsize="small"] #forward-button[chromedir="rtl"][rewindforward-override="link"]:not([disabled="true"]):hover:active {
	-moz-image-region: rect(72px 284px 96px 260px) !important;
}
