@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


.toolbarbutton-1.rewind-button,
.toolbarbutton-1.fastforward-button,
#back-button[rewindforward-override],
#forward-button[rewindforward-override] {
	list-style-image: url("chrome://rewindforward-luna/skin/buttons2.png") !important;
}

[iconsize="small"] .toolbarbutton-1.rewind-button,
[iconsize="small"] .toolbarbutton-1.fastforward-button,
[iconsize="small"] #back-button[rewindforward-override],
[iconsize="small"] #forward-button[rewindforward-override] {
	list-style-image: url("chrome://rewindforward-luna/skin/buttons-small2.png") !important;
}

[rewindforward-anothericon="true"] .toolbarbutton-1.rewind-button,
[rewindforward-anothericon="true"] .toolbarbutton-1.fastforward-button,
[rewindforward-anothericon="true"] #back-button[rewindforward-override],
[rewindforward-anothericon="true"] #forward-button[rewindforward-override] {
	list-style-image: url("chrome://rewindforward-luna/skin/buttons.png") !important;
}

[rewindforward-anothericon="true"] [iconsize="small"] .toolbarbutton-1.rewind-button,
[rewindforward-anothericon="true"] [iconsize="small"] .toolbarbutton-1.fastforward-button,
[rewindforward-anothericon="true"] [iconsize="small"] #back-button[rewindforward-override],
[rewindforward-anothericon="true"] [iconsize="small"] #forward-button[rewindforward-override] {
	list-style-image: url("chrome://rewindforward-luna/skin/buttons-small.png") !important;
}



/* keyhole */

[mode="icons"] #back-button[rewindforward-override="navigation"] {
	-moz-image-region: rect(0px 134px 34px 96px) !important;
}
[mode="icons"] #back-button[rewindforward-override="navigation"][buttonover="true"],
[mode="icons"] #back-button[rewindforward-override="navigation"]:hover {
	-moz-image-region: rect(34px 134px 68px 96px) !important;
}
[mode="icons"] #back-button[rewindforward-override="navigation"]:not([disabled="true"])[buttonover="true"]:active,
[mode="icons"] #back-button[rewindforward-override="navigation"]:not([disabled="true"]):hover:active {
	-moz-image-region: rect(102px 134px 136px 96px) !important;
}
[mode="icons"] #back-button[rewindforward-override="link"] {
	-moz-image-region: rect(0px 290px 34px 252px) !important;
}
[mode="icons"] #back-button[rewindforward-override="link"][buttonover="true"],
[mode="icons"] #back-button[rewindforward-override="link"]:hover {
	-moz-image-region: rect(34px 290px 68px 252px) !important;
}
[mode="icons"] #back-button[rewindforward-override="link"]:not([disabled="true"])[buttonover="true"]:active,
[mode="icons"] #back-button[rewindforward-override="link"]:not([disabled="true"]):hover:active {
	-moz-image-region: rect(102px 290px 136px 252px) !important;
}

[mode="icons"][iconsize="small"] #back-button[rewindforward-override="navigation"] {
	-moz-image-region: rect(0px 88px 24px 64px) !important;
}
[mode="icons"][iconsize="small"] #back-button[rewindforward-override="navigation"][buttonover="true"],
[mode="icons"][iconsize="small"] #back-button[rewindforward-override="navigation"]:hover {
	-moz-image-region: rect(24px 88px 48px 64px) !important;
}
[mode="icons"][iconsize="small"] #back-button[rewindforward-override="navigation"]:not([disabled="true"])[buttonover="true"]:active,
[mode="icons"][iconsize="small"] #back-button[rewindforward-override="navigation"]:not([disabled="true"]):hover:active {
	-moz-image-region: rect(72px 88px 96px 64px) !important;
}
[mode="icons"][iconsize="small"] #back-button[rewindforward-override="link"] {
	-moz-image-region: rect(0px 210px 24px 186px) !important;
}
[mode="icons"][iconsize="small"] #back-button[rewindforward-override="link"][buttonover="true"],
[mode="icons"][iconsize="small"] #back-button[rewindforward-override="link"]:hover {
	-moz-image-region: rect(24px 210px 48px 186px) !important;
}
[mode="icons"][iconsize="small"] #back-button[rewindforward-override="link"]:not([disabled="true"])[buttonover="true"]:active,
[mode="icons"][iconsize="small"] #back-button[rewindforward-override="link"]:not([disabled="true"]):hover:active {
	-moz-image-region: rect(72px 210px 96px 186px) !important;
}

[mode="icons"] #forward-button[rewindforward-override="navigation"] {
	-moz-image-region: rect(3px 160px 31px 134px) !important;
}
[mode="icons"] #forward-button[rewindforward-override="navigation"][buttonover="true"],
[mode="icons"] #forward-button[rewindforward-override="navigation"]:hover {
	-moz-image-region: rect(37px 160px 65px 134px) !important;
}
[mode="icons"] #forward-button[rewindforward-override="navigation"]:not([disabled="true"])[buttonover="true"]:active,
[mode="icons"] #forward-button[rewindforward-override="navigation"]:not([disabled="true"]):hover:active {
	-moz-image-region: rect(105px 160px 133px 134px) !important;
}
[mode="icons"] #forward-button[rewindforward-override="link"] {
	-moz-image-region: rect(3px 316px 31px 290px) !important;
}
[mode="icons"] #forward-button[rewindforward-override="link"][buttonover="true"],
[mode="icons"] #forward-button[rewindforward-override="link"]:hover {
	-moz-image-region: rect(37px 316px 65px 290px) !important;
}
[mode="icons"] #forward-button[rewindforward-override="link"]:not([disabled="true"])[buttonover="true"]:active,
[mode="icons"] #forward-button[rewindforward-override="link"]:not([disabled="true"]):hover:active {
	-moz-image-region: rect(105px 316px 133px 290px) !important;
}

[mode="icons"][iconsize="small"] #forward-button[rewindforward-override="navigation"] {
	-moz-image-region: rect(0px 112px 24px 88px) !important;
}
[mode="icons"][iconsize="small"] #forward-button[rewindforward-override="navigation"][buttonover="true"],
[mode="icons"][iconsize="small"] #forward-button[rewindforward-override="navigation"]:hover {
	-moz-image-region: rect(24px 112px 48px 88px) !important;
}
[mode="icons"][iconsize="small"] #forward-button[rewindforward-override="navigation"]:not([disabled="true"])[buttonover="true"]:active,
[mode="icons"][iconsize="small"] #forward-button[rewindforward-override="navigation"]:not([disabled="true"]):hover:active {
	-moz-image-region: rect(72px 112px 96px 88px) !important;
}
[mode="icons"][iconsize="small"] #forward-button[rewindforward-override="link"] {
	-moz-image-region: rect(0px 234px 24px 210px) !important;
}
[mode="icons"][iconsize="small"] #forward-button[rewindforward-override="link"][buttonover="true"],
[mode="icons"][iconsize="small"] #forward-button[rewindforward-override="link"]:hover {
	-moz-image-region: rect(24px 234px 48px 210px) !important;
}
[mode="icons"][iconsize="small"] #forward-button[rewindforward-override="link"]:not([disabled="true"])[buttonover="true"]:active,
[mode="icons"][iconsize="small"] #forward-button[rewindforward-override="link"]:not([disabled="true"]):hover:active {
	-moz-image-region: rect(72px 234px 96px 210px) !important;
}


/* keyhole, RTL */

[mode="icons"] #back-button[chromedir="rtl"][rewindforward-override="navigation"] {
	-moz-image-region: rect(0px 252px 34px 214px) !important;
}
[mode="icons"] #back-button[chromedir="rtl"][rewindforward-override="navigation"][buttonover="true"],
[mode="icons"] #back-button[chromedir="rtl"][rewindforward-override="navigation"]:hover {
	-moz-image-region: rect(34px 252px 68px 214px) !important;
}
[mode="icons"] #back-button[chromedir="rtl"][rewindforward-override="navigation"]:not([disabled="true"])[buttonover="true"]:active,
[mode="icons"] #back-button[chromedir="rtl"][rewindforward-override="navigation"]:not([disabled="true"]):hover:active {
	-moz-image-region: rect(102px 252px 136px 214px) !important;
}
[mode="icons"] #back-button[chromedir="rtl"][rewindforward-override="link"] {
	-moz-image-region: rect(0px 408px 34px 370px) !important;
}
[mode="icons"] #back-button[chromedir="rtl"][rewindforward-override="link"][buttonover="true"],
[mode="icons"] #back-button[chromedir="rtl"][rewindforward-override="link"]:hover {
	-moz-image-region: rect(34px 408px 68px 370px) !important;
}
[mode="icons"] #back-button[chromedir="rtl"][rewindforward-override="link"]:not([disabled="true"])[buttonover="true"]:active,
[mode="icons"] #back-button[chromedir="rtl"][rewindforward-override="link"]:not([disabled="true"]):hover:active {
	-moz-image-region: rect(102px 408px 136px 370px) !important;
}

[mode="icons"][iconsize="small"] #back-button[chromedir="rtl"][rewindforward-override="navigation"] {
	-moz-image-region: rect(0px 186px 24px 162px) !important;
}
[mode="icons"][iconsize="small"] #back-button[chromedir="rtl"][rewindforward-override="navigation"][buttonover="true"],
[mode="icons"][iconsize="small"] #back-button[chromedir="rtl"][rewindforward-override="navigation"]:hover {
	-moz-image-region: rect(24px 186px 48px 162px) !important;
}
[mode="icons"][iconsize="small"] #back-button[chromedir="rtl"][rewindforward-override="navigation"]:not([disabled="true"])[buttonover="true"]:active,
[mode="icons"][iconsize="small"] #back-button[chromedir="rtl"][rewindforward-override="navigation"]:not([disabled="true"]):hover:active {
	-moz-image-region: rect(72px 186px 96px 162px) !important;
}
[mode="icons"][iconsize="small"] #back-button[chromedir="rtl"][rewindforward-override="link"] {
	-moz-image-region: rect(0px 308px 24px 284px) !important;
}
[mode="icons"][iconsize="small"] #back-button[chromedir="rtl"][rewindforward-override="link"][buttonover="true"],
[mode="icons"][iconsize="small"] #back-button[chromedir="rtl"][rewindforward-override="link"]:hover {
	-moz-image-region: rect(24px 308px 48px 284px) !important;
}
[mode="icons"][iconsize="small"] #back-button[chromedir="rtl"][rewindforward-override="link"]:not([disabled="true"])[buttonover="true"]:active,
[mode="icons"][iconsize="small"] #back-button[chromedir="rtl"][rewindforward-override="link"]:not([disabled="true"]):hover:active {
	-moz-image-region: rect(72px 308px 96px 284px) !important;
}


[mode="icons"] #forward-button[chromedir="rtl"][rewindforward-override="navigation"] {
	-moz-image-region: rect(3px 214px 31px 188px) !important;
}
[mode="icons"] #forward-button[chromedir="rtl"][rewindforward-override="navigation"][buttonover="true"],
[mode="icons"] #forward-button[chromedir="rtl"][rewindforward-override="navigation"]:hover {
	-moz-image-region: rect(37px 214px 65px 188px) !important;
}
[mode="icons"] #forward-button[chromedir="rtl"][rewindforward-override="navigation"]:not([disabled="true"])[buttonover="true"]:active,
[mode="icons"] #forward-button[chromedir="rtl"][rewindforward-override="navigation"]:not([disabled="true"]):hover:active {
	-moz-image-region: rect(105px 214px 133px 188px) !important;
}
[mode="icons"] #forward-button[chromedir="rtl"][rewindforward-override="link"] {
	-moz-image-region: rect(3px 370px 31px 344px) !important;
}
[mode="icons"] #forward-button[chromedir="rtl"][rewindforward-override="link"][buttonover="true"],
[mode="icons"] #forward-button[chromedir="rtl"][rewindforward-override="link"]:hover {
	-moz-image-region: rect(37px 370px 65px 344px) !important;
}
[mode="icons"] #forward-button[chromedir="rtl"][rewindforward-override="link"]:not([disabled="true"])[buttonover="true"]:active,
[mode="icons"] #forward-button[chromedir="rtl"][rewindforward-override="link"]:not([disabled="true"]):hover:active {
	-moz-image-region: rect(105px 370px 133px 344px) !important;
}

[mode="icons"][iconsize="small"] #forward-button[chromedir="rtl"][rewindforward-override="navigation"] {
	-moz-image-region: rect(0px 162px 24px 138px) !important;
}
[mode="icons"][iconsize="small"] #forward-button[chromedir="rtl"][rewindforward-override="navigation"][buttonover="true"],
[mode="icons"][iconsize="small"] #forward-button[chromedir="rtl"][rewindforward-override="navigation"]:hover {
	-moz-image-region: rect(24px 162px 48px 138px) !important;
}
[mode="icons"][iconsize="small"] #forward-button[chromedir="rtl"][rewindforward-override="navigation"]:not([disabled="true"])[buttonover="true"]:active,
[mode="icons"][iconsize="small"] #forward-button[chromedir="rtl"][rewindforward-override="navigation"]:not([disabled="true"]):hover:active {
	-moz-image-region: rect(72px 162px 96px 138px) !important;
}
[mode="icons"][iconsize="small"] #forward-button[chromedir="rtl"][rewindforward-override="link"] {
	-moz-image-region: rect(0px 284px 24px 260px) !important;
}
[mode="icons"][iconsize="small"] #forward-button[chromedir="rtl"][rewindforward-override="link"][buttonover="true"],
[mode="icons"][iconsize="small"] #forward-button[chromedir="rtl"][rewindforward-override="link"]:hover {
	-moz-image-region: rect(24px 284px 48px 260px) !important;
}
[mode="icons"][iconsize="small"] #forward-button[chromedir="rtl"][rewindforward-override="link"]:not([disabled="true"])[buttonover="true"]:active,
[mode="icons"][iconsize="small"] #forward-button[chromedir="rtl"][rewindforward-override="link"]:not([disabled="true"]):hover:active {
	-moz-image-region: rect(72px 284px 96px 260px) !important;
}
