@import url("chrome://rewindforward-platform/skin/toolbar-base.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


.toolbarbutton-1.rewind-button,
.toolbarbutton-1.fastforward-button,
#back-button[rewindforward-override],
#forward-button[rewindforward-override],
[rewindforward-anothericon="true"] .toolbarbutton-1.rewind-button,
[rewindforward-anothericon="true"] .toolbarbutton-1.fastforward-button,
[rewindforward-anothericon="true"] #back-button[rewindforward-override],
[rewindforward-anothericon="true"] #forward-button[rewindforward-override] {
	list-style-image: url("buttons-fx3.png") !important;
}


/* keyhole */

[mode="icons"] #back-button[rewindforward-override="navigation"] {
	-moz-image-region: rect(0px 179px 33px 144px) !important;
}
[mode="icons"] #back-button[rewindforward-override="navigation"]:hover:active:not([disabled="true"]),
[mode="icons"] #back-button[rewindforward-override="navigation"][open="true"] {
	-moz-image-region: rect(66px 179px 99px 144px) !important;
}
[mode="icons"] #back-button[rewindforward-override="link"] {
	-moz-image-region: rect(0px 257px 33px 222px) !important;
}
[mode="icons"] #back-button[rewindforward-override="link"]:hover:active:not([disabled="true"]),
[mode="icons"] #back-button[rewindforward-override="link"][open="true"] {
	-moz-image-region: rect(66px 257px 99px 222px) !important;
}

[mode="icons"] #forward-button[rewindforward-override="navigation"] {
	-moz-image-region: rect(0px 206px 33px 179px) !important;
}
[mode="icons"] #forward-button[rewindforward-override="navigation"]:hover:active:not([disabled="true"]),
[mode="icons"] #forward-button[rewindforward-override="navigation"][open="true"] {
	-moz-image-region: rect(66px 206px 99px 179px) !important;
}
[mode="icons"] #forward-button[rewindforward-override="link"] {
	-moz-image-region: rect(0px 284px 33px 257px) !important;
}
[mode="icons"] #forward-button[rewindforward-override="link"]:hover:active:not([disabled="true"]),
[mode="icons"] #forward-button[rewindforward-override="link"][open="true"] {
	-moz-image-region: rect(66px 284px 99px 257px) !important;
}


/* small keyhole */

[iconsize="small"][mode="icons"] #back-button[rewindforward-override="navigation"] {
	-moz-image-region: rect(0px 334px 23px 300px) !important;
}
[iconsize="small"][mode="icons"] #back-button[rewindforward-override="navigation"]:hover:active:not([disabled="true"]),
[iconsize="small"][mode="icons"] #back-button[rewindforward-override="navigation"][open="true"] {
	-moz-image-region: rect(46px 334px 69px 300px) !important;
}
[iconsize="small"][mode="icons"] #back-button[rewindforward-override="link"] {
	-moz-image-region: rect(0px 416px 23px 382px) !important;
}
[iconsize="small"][mode="icons"] #back-button[rewindforward-override="link"]:hover:active:not([disabled="true"]),
[iconsize="small"][mode="icons"] #back-button[rewindforward-override="link"][open="true"] {
	-moz-image-region: rect(46px 416px 69px 382px) !important;
}

[iconsize="small"][mode="icons"] #forward-button[rewindforward-override="navigation"] {
	-moz-image-region: rect(0px 367px 23px 334px) !important;
}
[iconsize="small"][mode="icons"] #forward-button[rewindforward-override="navigation"]:hover:active:not([disabled="true"]),
[iconsize="small"][mode="icons"] #forward-button[rewindforward-override="navigation"][open="true"] {
	-moz-image-region: rect(46px 367px 69px 334px) !important;
}
[iconsize="small"][mode="icons"] #forward-button[rewindforward-override="link"] {
	-moz-image-region: rect(0px 449px 23px 416px) !important;
}
[iconsize="small"][mode="icons"] #forward-button[rewindforward-override="link"]:hover:active:not([disabled="true"]),
[iconsize="small"][mode="icons"] #forward-button[rewindforward-override="link"][open="true"] {
	-moz-image-region: rect(46px 449px 69px 416px) !important;
}
